<div class="cards-container">
    <div class="card">
        <img src="/images/missal.jpg" alt="">
        <h2>Missal</h2>
        <p>descricao</p>
        <button> mais informações </button>
    </div>
    <div class="card">
        <img src="/images/capela.png" alt="">
        <h2>Capela Musical</h2>
        <p>descricao</p>
        <button> mais informações </button>
    </div>
    <div class="card">
        <img src="/images/sacristia.webp" alt="">
        <h2>Sacristia</h2>
        <p>descricao</p>
        <button> mais informações </button>
    </div>
    <div class="card">
        <img src="/images/ritual-de-benção.webp" alt="">
        <h2>Ritual de Bençãos</h2>
        <p>descricao</p>
        <button> mais informações </button>
    </div>
    <div class="card">
        <img src="/images/ritual-de-benção.webp" alt="">
        <h2>Atos Devocionais</h2>
        <p>descricao</p>
        <button> mais informações </button>
    </div>
</div>
