<div class="layout-countainer"> 
    <app-side-menu
        [navList]="menuList"
        (contentSelected)="onContentSelected($event)">
    </app-side-menu>

    <div class="content-area">

        <div *ngIf="selectedItem">

            <!-- Se tiver mais de um conteúdo -->
            <div *ngIf="selectedItem.navContent.length > 1" class="sub-selector">

                <button 
                    *ngFor="let content of selectedItem.navContent; let i = index"
                    (click)="selectedContentIndex = i"
                    [class.active]="selectedContentIndex === i"
                >
                    {{ content.menuTitle }}
                </button>

            </div>

            <!-- Exibe apenas o conteúdo selecionado -->
            <div *ngIf="selectedItem.navContent.length > 0">

                <h2>
                    {{ selectedItem.navContent[selectedContentIndex].menuTitle }}
                </h2>

                <div class="columns">

                    <div class="left">
                        <div *ngFor="let topic of selectedItem.navContent       [selectedContentIndex].leftContent">

                            <h4 *ngIf="topic.title">
                                {{ topic.title }}
                            </h4>

                            <ul>
                                <li *ngFor="let item of topic.items">
                                {{ item }}
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="right">
                         <div class="rite-tabs" *ngIf="selectedItem.navContent[selectedContentIndex].rightContent.length > 1">

                        <button
                            *ngFor="let rite of selectedItem.navContent[selectedContentIndex].rightContent; let i = index"
                            (click)="selectedRiteIndex = i"
                            [class.active]="selectedRiteIndex === i">

                            {{ rite.variationTitle }}

                        </button>

                    </div>
                       
                        <ng-container *ngIf="selectedItem.navContent[selectedContentIndex].rightContent[selectedRiteIndex] as rite">

                            <div *ngFor="let section of rite.sections">

                                <h4 *ngIf="section.title">
                                    {{ section.title }}
                                </h4>

                                <h5 *ngIf="section.subTitle">
                                    {{ section.subTitle }}
                                </h5>

                                <p *ngFor="let text of section.texts">
                                    {{ text }}
                                </p>

                            </div>

                        </ng-container>

                    </div>

                </div>

            </div>

        </div>

    </div>
        
</div>
