<app-menu-principal></app-menu-principal>
<div>
    <p class="lema">
        Cor Et Una Unum Et Anima
            <span>Um só coração uma só alma</span>
    </p>
</div>
<app-menu-option
  [cardList]="cardList"
></app-menu-option>

<footer class="footer">
  <div class="footer-top-frame"></div>
  <div class="footer-container">

    <!-- Coluna 1 - Logo / Nome -->
    <div class="footer-brand">
      <div class="brand-content">
        <img src="/images/brasao-paroquia.webp" alt="brasão da paroquia">
        <h2>Paroquia Nossa Senhora de Fátima Olaria</h2>
      </div>
    </div>

    <!-- Coluna 2 - Menu -->
    <div class="footer-menu">
      <h3>Menu</h3>
      <ul>
        <li><a href="#">Programas</a></li>
        <li><a href="#">Páginas</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <!-- Coluna 3 - Contato -->
    <div class="footer-contact">
      <h3>Contato</h3>
      <p>📞 (21) 99118-9166</p>
      <p>📍 Avenida Darcy Bittencourt Costa, 150<br> Olaria - RJ</p>

      <div class="social">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div>
  </div>
</footer>