:host {
  display: block;
  min-height: 100vh;
  background-image: url('/images/bg-azul-textura.png');
  background-size: cover;
  background-position: center;
}

.lema {
  margin: 0px;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  color: #f4e7c5; /* tom dourado claro */
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  letter-spacing: 0.5px;
  line-height: 1.4;
   background: linear-gradient(#f8e7b5, #d4b36a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lema span {
  font-style: italic;
  font-size: 24px;
  display: block; /* faz ficar na linha de baixo */
  margin-top: 4px;
  margin-bottom: 60px;
}

.footer {
  padding: 60px 8%;
  color: #d4af37; // dourado elegante
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 80px; // espaço para a moldura

  .footer-top-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;

  background: url('/images/moldura-topo.webp') no-repeat center top;
  background-size: 100% auto;
  background-repeat: no-repeat;

  z-index: 10;
}


  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin-top: 100px;
    position: relative;
    z-index: 20;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;

      a {
        text-decoration: none;
        color: #d4af37;
        transition: 0.3s;

        &:hover {
          color: #ffffff;
          transform: translateX(5px);
        }
      }
    }
  }

  p {
    margin-bottom: 8px;
    font-size: 0.95rem;
    color: #e6d6a8;
  }

  .footer-brand {
    .brand-content {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 150px;
      }
    }
  }

  .social {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    font-size: 1.2rem;

    i {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: white;
        transform: scale(1.2);
      }
    }
  }
}