/* You can add global styles to this file, and also import other style files */
h1, h2, h3 {
  font-family: 'Cinzel', serif;
  color: #d4af37;
}

p {
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  color: #f2e8cf;
}

